<form name="login" method="post">
  <header>
    <h2>Log in</h2>
  </header>
  <label for="username">Username</label>
  <input id="username" name="username" required />
  <label for="password">Password</label>
  <input id="password" type="password" name="password" required />
  <footer>
    <button type="submit">Log in</button>
  </footer>
</form>
