<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title>Example</title>
    <link rel="stylesheet" href="/stylesheet.css">
    <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="An example made with Nanoc and RobinCMS">
  </head>
  <body>
		<main>
      <%= yield %>
		</main>
  </body>
</html>
