<h1>Admin</h1>
<ul>
  <% for article in @articles %>
    <li>
      <a href="/admin/article?id=<%= article.id %>">
        <%= article.meta['title'] %>
      </a>
    </li>
  <% end %>
  <a href="/admin/article">New article</a>
</ul>
